snippet met
	public function ${1}(${2})
	{
		${3}
	}

snippet prmet
	protected function ${1}(${2})
	{
		${3}
	}

snippet pvmet
	private function ${1}(${2})
	{
		${3}
	}

snippet $
	$this->${1}

snippet comm
	/**
	 * ${1:[description]}
	 *
	 * ${2:[@param] }
	 * ${3:[@return] }
	 */
